@font-face {
  font-family: 'Mazzard';
  src: local('Mazzard H Bold'), local('Mazzard-H-Bold'),
    url('../assest/font/MazzardH-Medium.woff2') format('woff2'),
    url('../assest/font/MazzardH-Regular.woff2') format('woff2'), 
    url('../assest/font/MazzardM-Regular.woff2') format('woff2'),
    url('../assest/font/MazzardM-SemiBold.woff2') format('woff2'),
    url('../assest/font/MazzardM-Medium.woff2') format('woff2'),
    url('../assest/font/MazzardH-Bold.woff2') format('woff2'),

}

.App {
  /* text-align: center; */
  max-width: 1440px;
  height: 3304px;
  width: 100%;

}

body {
  margin: 0;
}
a{
  text-decoration: none;
}


@media only screen and (max-width: 390px) {
  .App {
    width: 390px;
  }

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  max-width: 1440px;

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}